{
  "port": 3000,
  "uploadUri": "/upload",
  "notifications": {
    "url": "https://requestb.in/1as1q1s1",
    "fields": {
      "secretKey": "1234"
    }
  },
  "storage": {
    "destinationPath": "{date.y}/{token.userId}/{uuid}{ext}",
    "s3": {
      "region": "us-east-1",
      "params": {
        "Bucket": "newsrush-assets"
      }
    }
  },
  "formidable": {
    "encoding": "utf-8",
    "keepExtensions": true,
    "multiples": true
  },
  "auth": {
    "secret": "CHANGEME",
    "algorithm": "HS256"
  }
}
